:root {
  --background: linear-gradient(to bottom right, #95bfb8, #5f736f);
  --preto: #262223;
  --branco: #f2ede4;
  --verde-1: #95bfb8;
  --verde-2: #80a69f;
  --verde-3: #5f736f;
  --verde-4: #303a38;
}
